@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* #container {
  font-family: "Poppins", sans-serif;
  color: #f3f3f3;
  height: 100vh;
  width: 100vw;
  background-color: #050e44;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

#card #top-div {
  letter-spacing: 2px;
}

#card #top-div h2 {
  font-weight: 300;
  font-size: 2rem;
  padding: 0;
}

#card #top-div h1 {
  font-weight: 500;
  font-size: 3rem;
  padding: 0;
}

#card #main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#card #main #temp {
  font-size: 8rem;
}

#card #main #info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  font-size: 1.5rem;
}

input[type="text"] {
  height: 40px;
  width: 300px;
  font-family: inherit;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #887c7c;
  background-color: transparent;
  color: #f3f3f3;
}

input[type="text"]:focus {
  border: 1px solid #f3f3f3;
}

#search-div {
  position: relative;
}

#search-div #error {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  bottom: -40px;
  color: #943232;
}

.sky {
  position: absolute;
  width: 100%;
  background: #4b79a1;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#283e51), to(#0a2342));
  background: linear-gradient(to top, #283e51, #0a2342);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -olinear-gradient(to top, #283e51, #0a2342);
  height: 100vh;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.g6 {
  background: #07729f;
  background: -webkit-gradient(linear, left top, left bottom, from(#07729f), to(#042c47));
  background: linear-gradient(to bottom, #07729f 0%, #042c47 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07729f', endColorstr='#042c47',GradientType=0 );
}

.g11 {
  background: #fdc352;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdc352), to(#e8ed92));
  background: linear-gradient(to bottom, #fdc352 0%, #e8ed92 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc352', endColorstr='#e8ed92',GradientType=0 );
}

.g19 {
  background: #371a79;
  background: -webkit-gradient(linear, left top, left bottom, from(#371a79), to(#713684));
  background: linear-gradient(to bottom, #371a79 0%, #713684 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#371a79', endColorstr='#713684',GradientType=0 );
}
/*# sourceMappingURL=style.css.map */